body {
    font-family: 'Sometype Mono', monospace;
    font-size: 15pt;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.left {
    margin-left: 15%;
    margin-bottom: 20px;
    width: 70%;
}



.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    font-size: 1rem;
}

.details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
    font-size: 1rem;
}

.details-title {
    font-weight: bold;
    width: 20%;
    height: 100%;
    font-size: 1.15rem;
}

.details-content {
    width: 80%;
    overflow-wrap: break-word;
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .left {
        margin-left: 3%;
        width: 96%;
    }

    .details-content {
        font-size: 1.5rem;
    }

    .details-title {
        font-size: 1.6rem;
    }
    
}


.center > div {
    text-align: center;
    display: block;
}

.center > div > a {
    font-style: italic;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.button {
    background-color: #4c98af;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 25px;
}

.button:hover {
    background-color: #428397;
}